celery==5.3.1
eventlet==0.33.3
Flask==2.2.3
Flask-Bcrypt
Flask-Caching==2.0.2
Flask-Compress
Flask-Cors
Flask-JWT-Extended
Flask-Login==0.6.2
Flask-Mail
flask-marshmallow
Flask-SocketIO
Flask-SQLAlchemy==3.0.3
flask-talisman
Flask-WTF==1.1.1
gunicorn
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.2
marshmallow-sqlalchemy==0.29.0
Pillow
psycopg2-binary
py2neo
py4j
redis
shortuuid
SQLAlchemy==2.0.9
validators
watchdog
websocket-client
Werkzeug==2.2.3
WTForms
email-validator
bidict
kombu 
flask-sslify
flask-session
sentry-sdk
google-auth-oauthlib
requests-oauthlib 
google
python-dotenv==1.0.0
Flask-MonitoringDashboard==3.1.1
websockets==11.0.3
