celery
eventlet
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Caching==2.0.2
Flask-Compress
Flask-Cors
Flask-JWT-Extended
Flask-Login==0.4.1
Flask-Mail
flask-marshmallow
Flask-SocketIO
Flask-SQLAlchemy==2.4.1
flask-talisman
Flask-WTF
gunicorn
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe
marshmallow-sqlalchemy
Pillow
psycopg2-binary
py2neo
py4j
redis
shortuuid
SQLAlchemy==1.3.11
validators
watchdog
websocket-client
Werkzeug
WTForms
email-validator
bidict
kombu 
flask-sslify
flask-session
sentry-sdk
google-auth-oauthlib
requests-oauthlib 
google
python-dotenv==1.0.0
Flask-MonitoringDashboard==3.1.1
websockets==11.0.3
