{% extends "douxt.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
      <div class="wrapper">


  <div class="profile-card js-profile-card">


    <div class="profile-card__img">


        <img alt="profile card" src="{{ image_file }}">

    </div>
       <div class="profile-card__cnt js-profile-cnt">
           <div class="profile-card__name">@<span style="text-transform: capitalize;">{{ current_user.username[0] }}</span>{{ current_user.username[1:] }}</div>
          <div class="profile-card___txt">{{ current_user.email }}</div>


        </div>


        <form method="POST" action="" enctype="multipart/form-data" style="margin-left: 1rem;">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" >
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

<div class="avatar-upload">

         <div class="avatar-edit">

           {{ form.picture(class="") }}

                      {{ form.picture.label() }}

                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
        </div>
    </div>
                <br>

 <img class="rounded-circle article-img"  title="Location" aria-label="Location" src="{{ url_for('static', filename= 'images/location.png') }}"   />
Location:

            </fieldset>
             <div class="profile-card-ctr">
                {{ form.submit(class="profile-card__button button--blue ") }}

             </div>



        </form>


{%if cont.licence_no %}
<a class="nav-item nav-link" href="{{ url_for('business.my_account') }}">Doctor's Account</a>
{% else %}
{% endif %}
    </div>

      </div>



{% endblock content %}