{% extends "layout.html" %}
{% block content %}

<div class="content-section">
   <form method=POST enctype=multipart/form-data action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">


            <div class="form-group">

                {% if form.content.errors %}
                    {{ form.content(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="daxx", rows="5", placeholder="What's On Your Mind?") }}
                {% endif %}


</div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}