{% extends "groupx.html" %}
{% block content %}

 <article class="media content-section" >
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + groups.group.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_post', username=groups.group.username) }}"><span><span style="text-transform: capitalize;">{{ groups.group.username[0] }}</span>{{ groups.group.username[1:] }}</span></a>
                <small class="text-muted"><i>{{ groups.date_posted.strftime('%d/%b/%Y ') }}</i><span  style="float: right;">
       {% if groups.group!= current_user %}

<span  style="float: right;">

            <img class="rou" id="myModal" title="More" aria-label="More" src="{{ url_for('static', filename= 'images/more.png') }}"  style="float: right; cursor: pointer;" />
</span>
    {%endif%}
          <img class="rou" id="mode" title="Share" aria-label="Share" src="{{ url_for('static', filename= 'images/share.png') }}"  style="float: right; cursor: pointer; margin-right: 4px;" />
           </span>
          
</small>
   <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">

<script>


new jBox('Modal', {
  width: 300,
  height: 250,
  attach: '#myModal',
  title: '<p align="center" style="margin-bottom: 0rem;">Report this post!</p>',
  content: '<a class="nav-item nav-link" style="color:#aa0909;" href="{{ url_for('posts.report',  post_id=groups.id) }}">Report post</a><a class="nav-item nav-link" href="">Cancel</a>'


});



</script>

<script>


new jBox('Modal', {
  width: 500,
  height: 150,
  attach: '#mode',
  title: '<p align="center" style="margin-bottom: 0rem;">Share post!</p>',
  content: '<form><input type="search" id="myInput" class="btn btn-outline-info" value="http://127.0.0.1:5000/topics/conversation/{{ topics.id }}/{{ topics.name }}/{{ groups.id }}"> <button onclick="myFunction()" onmouseout="outFunc()" type="button" value="copy" class="btn btn-outline-info">copy link</button></form>'

});



</script>

          <script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>

            </div>
              {% if groups.group == current_user %}
          <div>
          <a href="#" class="article-title"  data-toggle="modal" data-target="#deleteModal"><i style="font-size:23px;" class="fa fa-trash-o"></i></a>
          </div>
          {% endif %}
                       <p class="krax"  autocapitalize="sentences" aria-live="polite"  > {{ groups.content }} </p>
  <script>
      function updateDiv()
{
    $( "a" ).load(window.location.href + "a" );
    }
  </script>
               <div>


  </div>
          </div>

        </article>

<div class="content-section" style="width: 100%;

position: relative;">
   <form method=POST enctype=multipart/form-data action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" >


            <div class="form-group" aria-live="polite" >

                {% if form.message.errors %}
                    {{ form.message(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="daxx", rows="3", placeholder="Comment....", title="Comment!", style='resize:none;') }}
                {% endif %}


</div>
              </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>

<div>

          <div class="midder">
              <h5>{{ groups.comments }}{%if groups.comments > 1%}
                  Comments
                   {%else%}
                  Comment
                  {%endif%}
              </h5>
          </div>



    {%if gc .items%}
              {% for gcs in gc .items %}



              <div class="comment-list">

                  <div class="desc">

                     
                      <h5  class="comment" style="margin-bottom: 0px;">
                          <a class="mr-2" href="{{ url_for('users.user_post', username=gcs.disc.username) }}">
                           <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + gcs.disc.image_file) }}">
                          </a>
                           <b> <span style="font-size: 16px;"><span style="text-transform: capitalize;">
{{ gcs.disc.username[0] }}</span>{{ gcs.disc.username[1:] }}</span> </b>
                     </h5>
                      <small  class="date" style="font-weight: 450;">
                          {{ gcs.pub_date.strftime('%d/%b/%Y ') }}
                   </small>


                      <h6  class="comment" style="font-weight:380; font-size: 14px;">
                         {{ gcs.message }}
                     </h6>



{% if gcs.disc == current_user %}

                <form title="Delete" aria-label="Delete" action="{{ url_for('groups.delete_discussion', pub_id=topics.pub_id, topics_name=topics.name, groups_id=groups.id, gc_id=gcs.id) }}" method="POST">
 <button type="submit"  value="Delete" style="display: contents; cursor: pointer;"><i style="font-size:20px;" class="fa fa-trash-o"></i></button>
</span>
      </form>

{% endif %}



           </div>
              </div>


              {% endfor %}
    {%else%}
    <br>
    <br>
    <h3 align="center" style="opacity:0.3">  Be the first to comment </h3>
    {%endif%}
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #fff;">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer" style="background: #fff;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('groups.delete_group', pub_id=topics.pub_id, topics_name=topics.name, groups_id=groups.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>


{%endblock content%}
