{% extends "base.html" %}
{% block content %}


<div class="nav-xy">
    <p align="center" ><b>Popular Posts</b></p>
</div>
 {% for sidex in side %}



 <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + sidex.author.image_file) }}">
<div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_post', username=sidex.author.username) }}"><span style="text-transform: capitalize;">{{ sidex.author.username[0] }}</span>{{ sidex.author.username[1:] }}</a>
                <small class="text-muted"><i>{{ sidex.date_posted.strftime('%d/%b/%Y ') }}</i></small>
            </div>

    <p class="krax"> {{ sidex.content }}</p>
    <span >
        <a class="article-title" href="{{ url_for('posts.post', public_id=sidex.public_id) }}"> {{ sidex.comments }} <i style="font-size: 23px;" class="fa fa-comment-o"></i>  </a>
    </span>
</div>


 </article>
     {% endfor %}
{% endblock content %}