{% extends "bast.html" %}
{% block content %}
<p align="center" class="nav-xy"> Activities </p>
{%if  posts%}
{% for post in posts %}
 <div class="article-metadata" >
 <h4> You commented on</h4>
   <article class="media content-section" id="togga">

       <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.parser.author.image_file) }}">
          <div class="media-body">

            <div class="article-metadata">

                <a class="mr-2" href="{{ url_for('users.user_post', username=post.parser.author.username) }}"><span style="text-transform: capitalize;">{{ post.parser.author.username[0] }}</span>{{ post.parser.author.username[1:] }}</a>
                <small class="text-muted"><i>{{ post.parser.date_posted.strftime('%d/%b/%Y ') }}</i></small>
            </div>

            <p class="krax"  autocapitalize="words" aria-live="polite" > {{ post.parser.content }}</p>

               <div>


            </div>
<span class="">

              <a class="article-title" href="{{ url_for('posts.post', post_id=post.post.id) }}"> {{ post.parser.comments }}  <i style="font-size:23px;" class="fa fa-comment-o"></i>   </a>
</span>
          </div> 


        </article>
 </div>

{% endfor %}
{%else%}
<br>
<h1 align="center" style="opacity:0.6">  No recent activity </h1>
{%endif%}
{% endblock content %}
