{% extends "layout.html" %}
{% block content %}



<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(static/images/Preloader_2.gif) center no-repeat #fff;
}
</style>

<body>
	<!-- Paste this code after body tag -->
	<div class="se-pre-con"></div>
	<!-- Ends -->




<nav class="navbar navbar-expand-md navbar-dark ">
        <div class="container">
            <a class="navbar-brand mr-4" href="/home"><div class="krax"> <img class="rou" src="{{ url_for('static', filename= 'images/blogging.png') }}">Texts</div></a>
        <a class="navbar-brand mr-4" href="/home/images"><div class="krax"> <img class="rou" src="{{ url_for('static', filename= 'images/picture.png') }}">Images</div></a>
            <a class="navbar-brand mr-4" href="/home/videos"><div class="krax"> <img class="rou" src="{{ url_for('static', filename= 'images/youtube.png') }}">Videos</div></a>
        </div></nav>
{% if current_user.is_authenticated%}
<div class="content-section" id="tog" style="margin-bottom:40px;">

   <form method=POST enctype=multipart/form-data action="" >
        {{ form.hidden_tag() }}
        <fieldset class="form-group"  >


            <div class="form-group" aria-live="polite" >

                {% if form.content.errors %}
                    {{ form.content(class="daxx", placeholder="What's Up?", id="tog", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="daxx", id="togg", rows="3",max="10", placeholder="What's On Your Mind?", title="Post Something!", style='resize: none;') }}
                {% endif %}
</div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>


<div class="avatar-upload">
         <div class="avatar-edit">
           <img class="rou man"  id="myModal" src="{{ url_for('static', filename= 'images/picture.png') }}" >
        </div>
    </div>
    <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">
<script>
new jBox('Modal', {
  width: 500,
  height: 250,
  attach: '#myModal',
  title: '<h4 align="center" style="color:purple;">Upload Photo</h4>',
  content: '<form method=POST enctype=multipart/form-data action="">{{ form2.hidden_tag() }}<fieldset class="form-group"> <div class="avatar-upload">  <div class="avatar-edit">{{ form2.photo(class="") }}{{ form2.photo.label() }}{% if form2.photo.errors %}{% for error in form2.photo.errors %}<span class="text-danger">{{ error }}</span><br>{% endfor %}{% endif %}</div></div></fieldset>{{ form2.submit(class="btn btn-outline-info ") }}</form>'

});

</script>


<div class="avatar-upload">
         <div class="avatar-edit" style="right:4rem;">
             <img class="rou man"  id="mModal" src="{{ url_for('static', filename= 'images/youtube.png') }}" >
        </div>
    </div>

    <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">
<script>


new jBox('Modal', {
  width: 500,
  height: 250,
  attach: '#mModal',
  title: '<h4 align="center" style="color:purple;">Upload Video</h4>',
  content: '<form method=POST enctype=multipart/form-data action="">{{ form2.hidden_tag() }}<fieldset class="form-group"> <div class="avatar-upload">  <div class="avatar-edit">{{ form3.video(class="") }}{{ form3.video.label() }}{% if form3.video.errors %}{% for error in form3.video.errors %}<span class="text-danger">{{ error }}</span><br>{% endfor %}{% endif %}</div></div></fieldset>{{ form3.submit(class="btn btn-outline-info ") }}</form>'

});


</script>
{% endif %}

    {% for post in posts.items %}

        <article class="media content-section" >
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}"><span><span style="text-transform: capitalize;">{{ post.author.username[0] }}</span>{{ post.author.username[1:] }}</span></a>
                <small class="text-muted"><i>{{ post.date_posted.strftime('%d/%b/%Y ') }}</i></small>
            </div>
            <h5><a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a></h5>
            <p class="krax"  autocapitalize="sentences" aria-live="polite"  > {{ post.content }}</p>
  <script>
      function updateDiv()
{
    $( "a" ).load(window.location.href + "a" );
    }
  </script>
               <div>
                   {% if post.img_filename %}
             <img align="center" class="article-content" src="{{  url_for('static', filename= 'post_pics/' + post.img_filename) }}">

{% endif %}
            </div>


<span class="secd glow-button">
              <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}" title="Comments" aria-label="Comments"> {{ post.comments }} <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/comment.png') }}"></a>

</span>
              <!--<span class="secd glow-button">
              <a class="article-title" href="{{ url_for('main.share_post', post_id=post.id) }}" >
<img class="rounded-circle article-img"  title="Share" aria-label="Share" src="{{ url_for('static', filename= 'images/share.png') }}"  style=" cursor: pointer;" />
               </a>
              </span>-->
              {% if post.author == current_user %}
                      {% else %}


<span class="secd glow-button">
            <strike><img class="rounded-circle article-img"  title="More" aria-label="More" src="{{ url_for('static', filename= 'images/more.png') }}"  style=" cursor: pointer;" />
</strike>
</span>




{% endif %}

          </div>

        </article>
    {% endfor %}
     <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">

<script>


new jBox('Modal', {
  width: 300,
  height: 250,
  attach: 'strike',
  title: '<p align="center" style="margin-bottom: 0rem;">Report this post!</p>',
  content: ''
});



</script>
{%if current_user.is_authenticated %}
    <div class="topic" >

       <ul class="featured__item__pic__hover">
                                <li><a href="#" id="topic"><i class="fa fa-group"></i></a></li>

                            </ul>
    </div>
<script>


new jBox('Modal', {
  width: 500,
  height: 200,
  attach: '#topic',
  title: '<h4 align="center" style="color:black;">Create Conversation</h4>',
  content: '<form method=POST enctype=multipart/form-data action="">{{ form4.hidden_tag() }}<fieldset class="form-group"> <div class="form-group" aria-live="polite" >{% if form4.name.errors %}{{ form4.name(class="daxx", placeholder="What's Up?", id="tog", rows="5", max="10") }}                    <div class="invalid-feedback">                        {% for error in form4.name.errors %}                            <span>{{ error }}</span>                        {% endfor %}                    </div>                {% else %}                    {{ form4.name(class="daxx",  rows="1", placeholder="Topic Name", title="Topic Name!", style='resize: none;') }}                {% endif %}</div>        </fieldset>        <div class="form-group">            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}        </div>    </form>'
  });



</script>
    {% endif %}



   {% if posts.has_prev %}<a class="btn btn-outline-info" href="{{ url_for('main.home', page=posts.prev_num) }}">Latest</a>{% else %}{% endif %}
{% if posts.has_next %}<a class="btn btn-outline-info" href="{{ url_for('main.home', page=posts.next_num) }}"> Older </a>{% else %} {% endif %}


{% endblock content %}


