{% extends "layout.html" %}
{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<div class="content-section" id="tog">
   <form method=POST enctype=multipart/form-data action="" >
        {{ form.hidden_tag() }}
        <fieldset class="form-group"  >


            <div class="form-group" aria-live="polite" >

                {% if form.content.errors %}
                    {{ form.content(class="daxx", placeholder="What's Up?", id="tog", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="daxx", id="togg", rows="3", placeholder="What's On Your Mind?") }}
                {% endif %}


</div>
         <!--

            , id="myBtn", onfocusin="myFunction()" ,onfocusout="myFunc()"

            <script>
function myFunction() {
  var dus =document.getElementById("myBtn").style.height="120px";
}


function myFunc() {
 document.getElementById("myBtn").style.height="70px";
}
</script>
-->
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>

    {% for post in posts.items %}
<br>

        <article class="media content-section" id="togga">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted"><i>{{ post.date_posted.strftime('%d/%b/%y   :   %r') }}</i></small>
            </div>
            <h5><a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a></h5>
            <p class="krax"  autocapitalize="sentences" aria-live="polite" > {{ post.content }}</p>

               <div>
                   {% if post.img_filename %}
             <img align="center" class="article-content" src="{{  url_for('static', filename= 'post_pics/' + post.img_filename) }}">

{% endif %}





            </div>

              <br>
           {% if post.comments > 999 %}
              <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}"> {{ post.comments }}k <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'comment.png') }}"></a>

              {% else %}
              <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}"> {{ post.comments }} <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'comment.png') }}"></a>

              {% endif %}


          
          </div>



        </article>
    {% endfor %}


<br>
<br>


   {% if posts.has_prev %}<a class="btn btn-outline-info" href="{{ url_for('main.home', page=posts.prev_num) }}">Latest</a>{% else %}{% endif %}
{% if posts.has_next %}<a class="btn btn-outline-info" href="{{ url_for('main.home', page=posts.next_num) }}"> Older </a>{% else %} {% endif %}

{% endblock content %}


