{% extends "vidda.html" %}
{% block content %}


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(static/images/giphy.gif) center no-repeat #fff;
}
</style>

<body>
	<!-- Paste this code after body tag -->
	<div class="se-pre-con"></div>
	<!-- Ends -->


 {% for post in posts.items %}


        <article class="media content-section" >
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.imgs.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">

                <a class="mr-2" href="{{ url_for('users.user_post', username=post.imgs.username) }}"><span><span style="text-transform: capitalize;">{{ post.imgs.username[0] }}</span>{{ post.imgs.username[1:] }}</span></a>
             <small class="text-muted"><i>{{ post.date_posted.strftime('%d/%b/%Y ') }}</i></small>

            </div>
              <div  style="overflow: hidden; width:100%;">
 <img class="imgs"  style="" src="{{ url_for('static', filename= 'post_pics/' + post.photo_filename) }}">

              </div>
                  <span class="">
              <a class="article-title" href="{{ url_for('posts.img_post', images_id=post.id) }}" title="Comments" aria-label="Comments"> {{ post.comments }}  <i style="font-size:23px;" class="fa fa-comment-o"></i>   </a>
</span>
            </div>
        </article>
{%endfor%}

{% endblock content %}
