{% extends 'douxt.html' %}
{% block content %}

   <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.reple.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_post', username=comment.reple.username) }}"><span style="text-transform: capitalize;">{{ comment.reple.username[0] }}</span>{{ comment.reple.username[1:] }}</a>
       <small class="text-muted">{{ comment.pub_date.strftime('%d/%b/%Y ') }}

           {% if comment.reple == current_user %}
                      {% else %}

    {%endif%}

           <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">





       </small>


          <script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>


      </div>

      <p class="krax">{{ comment.message }}</p>



    </div>



    </article>
<div class="content-section" style="width: 100%;

position: relative;">
   <form method=POST enctype=multipart/form-data action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" >


            <div class="form-group" aria-live="polite" >

                {% if form.message.errors %}
                    {{ form.message(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="daxx", rows="1", placeholder="Reply....", title="Comment!", style='resize:none;') }}
                {% endif %}


</div>
              </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>
<div class="midder">
              <h5>{{ comment.replys }}{%if comment.replys > 1%}
                  Replies
                   {%else%}
                  Reply
                  {%endif%}
              </h5>
          </div>



    {%if rc.items%}
              {% for reply in rc.items %}



              <div class="comment-list">

                  <div class="desc">


                      <h5  class="comment" style="margin-bottom: 0px;">
                          <a class="mr-2" href="{{ url_for('users.user_post', username=reply.img_reply.username) }}">
                           <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + reply.img_reply.image_file) }}">
                          </a>
                          <b> <span style="font-size: 16px;"><span style="text-transform: capitalize;">{{ reply.img_reply.username[0] }}</span>{{ reply.img_reply.username[1:] }}
</span> </b>
                     </h5>
                      <small  class="date" style="font-weight: 450;">
                          {{ reply.pub_date.strftime('%d/%b/%Y ') }}
                   </small>


                     <h6  class="comment krax" style="font-weight:380; font-size: 14px;">
                         {{ reply.message }}
                     </h6>
                     <style>
    .fa-bar::before {

    content: "\f107";

}
</style>



           </div>
              </div>


              {% endfor %}
    {%else%}
    <br>
    <br>
    <h3 align="center" style="opacity:0.3">  Be the first to comment </h3>
    {%endif%}

        <br>
        <br>
         {% for page_num in rc.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if rc.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('posts.reply_img', plic_id=images.plic_id,media_comment_id=comment.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.reply_img', plic_id=images.plic_id,media_comment_id=comment.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}






{% endblock content %}