<!DOCTYPE html>
<html >

<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, shrink-to-fit=yes">

     <!-- Site Metas -->
   {% if title %}
        <title>Crazy thoughts - {{ title }}</title>
    {% else %}
        <title>Crazy thoughts</title>
    {% endif %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Stephen Ford">
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

       <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Pacifico&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">



   <link rel="apple-touch-icon" sizes="57x57" href="static/favico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/favico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/favico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/favico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/favico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/favico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/favico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/favico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/favico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="static/favico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="static/favico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favico/favicon-16x16.png">
<link rel="manifest" href="static/favico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">




</head>
<br>
<br>
<body >

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/home"><div class="nav-xx"> <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/logox.jpg') }}">Crazy Thoughts</div></a>
        <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          -->

<a class="foot" href="{{ url_for('users.setting') }}">


                <img class="dropbtn" src="{{ url_for('static', filename= 'images/gear.png') }}" >
</a>



          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">


            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}



                  <a class="nav-item nav-link" href="{{ url_for('users.account') }}" title="My Account" aria-label="My Account">
                      <img class="rounded-circle article-img"
                           src="{{ url_for('static', filename= 'profile_pics/' + current_user.image_file) }}">
                  </a>


                  <a class="nav-item nav-link" href="{{ url_for('posts.explore') }}" title="Popular Posts" aria-label="Popular Posts">
                       <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/trending.png') }}">

                  </a>


                 <a class="nav-item nav-link" href="{{ url_for('users.posts') }}" title="My Posts " aria-label="My Posts">

                <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/post.png') }}">

                </a>
                 <a id="fuck" class="nav-item nav-link" href="{{ url_for('posts.following') }}" title="My Activities" aria-label="My Activities" >

                <img  class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/activity.png') }}" >
                     <script>
                         function fuckyou() {
                         var lax= 'activity'
                         var x = document.getElementById("fuck");
                            x.innerHTML = "Activity";
                         console.log(lax)


                         }
                     </script>

                </a>

<a class="nav-item nav-link" href="{{ url_for('users.setting') }}" title="Settings" aria-label="Settings">


                <img class="dropbtn" src="{{ url_for('static', filename= 'images/gear.png') }}" >
</a>


                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>






<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function yFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>





    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}

                <div class="alert alert-{{ category }}">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
               <div class="squa" style="width: 330px;
transition: .3s;
border: 1px solid

silver;
border-radius:8px;
position: sticky;
opacity: 5.2;
visibility: visible;
margin-top: 6rem;
margin-bottom: 0.3rem;
padding-left: 12px;">

                   <div class="colx">
                       <p align="center" style="color:green;"> Talk to a Psycologist</p>



{% for sixe in side %}
                                    <article class="media content-section" id="togga" >
            
                        </article>

                      {% endfor %}




              </div>


               </div>
 <small class="footer">
               Copyright &copy; 2020 Crazythought.com.
<a href="{{ url_for('main.cookies') }}">

             Prvacy Policy
         </a>
            </small>

      </div>

      </div>

    </main>
    {% block script %}

              {% endblock %}
    <br>
    <br>
    <br>

    <footer class="foot" >
 <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
{% if current_user.is_authenticated %}



                  <a  href="{{ url_for('users.account') }}">
                      <img class="rounded-circle article-img"
                           src="{{ url_for('static', filename= 'profile_pics/' + current_user.image_file) }}">
                  </a>


                  <a  href="{{ url_for('posts.explore') }}">
                       <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/trending.png') }}">

                  </a>


                 <a  href="{{ url_for('users.posts') }}">

                <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/post.png') }}">

                </a>
                 <a  href="{{ url_for('posts.following') }}"  >

                <img  class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/activity.png') }}" >
                     <script>
                         function fuckyou() {
                         var lax= 'activity'
                         var x = document.getElementById("fuck");
                            x.innerHTML = "Activity";
                         console.log(lax)


                         }
                     </script>

                </a>




                {% else %}
                    <a  href="{{ url_for('users.login') }}">Login</a>
                    <a  href="{{ url_for('users.register') }}">Register</a>
                {% endif %}

 </nav>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="static/jquery-min.js"></script>
<script src="static/script.js"></script>
<!--<script src="static/main.js"></script>-->

<script src="static/vue.js"></script>
<script src="static/main.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>



</body>
</html>
