
{% extends "loads.html" %}
{% block content %}


<div class="preload">
    <div class="logo">
        <span style="color:silver">Crazy Thought</span>
    </div>
    <div class="loader-frame">
        <div class="loader1" id="loader1"></div>
         <div class="loader2" id="loader2"></div>

    </div>
    <script>
        (function() {

            var preload= document.getElementById("preload");
                var loading= 0;
                    var id= setInterval(frame, 64);

                  function frame(){
                    if(loading==100){
                        clearInterval(id);
                            window.open("home", "_self");
        }
                       else{
                           loading = loading + 1;
                                if(loading == 90) {
                                    preload.style.animation = "fadeout 1s ease";
        }
        }
        }
        })();
    </script>

</div>


{% endblock %}