
{% extends "loads.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='others.css') }}">

<div class="preload">
    <div class="logo">
        <span style="color:black">Crazy Thoughts</span>
    </div>
    <div class="loader-frame">
        <div class="mac">
        <div class="preloader">

    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0"><circle cx="50" cy="50" r="4.719" fill="none" stroke="#1d3f72" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/></circle><circle cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/></circle></svg>
        </div>

 <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/logox.jpg') }}">
    </div>
        <script>
            const preloader = document.querySelector('.preloader');

const fadeEffect = setInterval(() => {
  // if we don't set opacity 1 in CSS, then   //it will be equaled to "", that's why we   // check it
  if (!preloader.style.opacity) {
    preloader.style.opacity = 1;
  }
  if (preloader.style.opacity > 0) {
    preloader.style.opacity -= 0.1;
  } else {
    clearInterval(fadeEffect);
  }
}, 900);

window.addEventListener('load', fadeEffect);

        </script>
    <script>
        (function() {

            var preload= document.getElementById("preload");
                var loading= 0;
                    var id= setInterval(frame, 64);

                  function frame(){
                    if(loading==100){
                        clearInterval(id);
                            window.open("home", "_self");
        }
                       else{
                           loading = loading + 1;
                                if(loading == 90) {
                                    preload.style.animation = "fadeout 1s ease";
        }
        }
        }
        })();
    </script>

</div>
</div>

{% endblock %}