{% extends "bast.html" %}
{% block content %}

   <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
       <small class="text-muted">{{ post.date_posted.strftime('%d/%b/%Y ') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}"><img class="rou" src="{{ url_for('static', filename= 'refresh.png') }}"></a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><img class="rou" src="{{ url_for('static', filename= 'delete.png') }}"></button>

          </div>
          {% endif %}

      <p class="krax">{{ post.content }}</p>
         {% if post.img_filename %}
             <img align="center" class="article-content" src="{{  url_for('static', filename= 'post_pics/' + post.img_filename) }}">
            </div>
{% endif %}


          {% if current_user.is_authenticated %}

     </div>

    </article>

<div class="content-section" style="width: 100%;

position: relative;">
   <form method=POST enctype=multipart/form-data action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" >


            <div class="form-group" aria-live="polite" >

                {% if form.message.errors %}
                    {{ form.message(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="daxx", rows="3", placeholder="Comment....") }}
                {% endif %}


</div>
              </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>
<article>

<div>
          <div class="bg-info">
              <h5>{{ post.comments }} Comments</h5>
          </div>
              {% for comment in comments.items %}


              <div class="comment-list">
                  <div class="desc">
          <br>
                      <h5  class="comment">
                          <a class="mr-2" href="{{ url_for('users.user_post', username=comment.reply.username) }}">
                           <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.reply.image_file) }}">
                          </a>
                           <b> {{ comment.reply.username }} </b>
                     </h5>
                      <small  class="date" style="font-weight: 450;">
                          {{ comment.pub_date.strftime('%d/%b/%Y ') }}
                   </small>


                     <h6  class="comment" style="font-weight:380;">
                         {{ comment.message }}
                     </h6>
{% if comment.reply == current_user %}

                <form action="{{ url_for('posts.delete_comment', post_id=post.id, comment_id=comment.id) }}" method="POST">
                                <button type="submit"  value="Delete" style="display: contents; cursor: pointer;"><img class="rou" src="{{ url_for('static', filename= 'delete.png') }}"></button>
                </form>
{% endif %}

           </div>
              </div>


              {% endfor %}

        <br>
        <br>
         {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('posts.post', post_id=post.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.post', post_id=post.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}



        {% endif %}

      </div>
    </article>
 <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
