{% extends "bast.html" %}
{% block content %}

    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
       <small class="text-muted">{{ post.date_posted.strftime('%d/%b/%y   :   %r') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

          </div>
          {% endif %}
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
         {% if post.img_filename %}
             <img align="center" class="article-content" src="{{  url_for('static', filename= 'post_pics/' + post.img_filename) }}">
            </div>
{% endif %}
        <br>
        <br>

          {% if current_user.is_authenticated %}

         <form method="POST">

                <div class="form-group">
                    <textarea class="form-control form-control-lg" rows="5" name="message" placeholder="Message"
                              onfocus="this.placeholder = ''" onblur="this.placeholder= 'Message'"
                              required="">

                    </textarea>
                     <button type="submit" class="btn btn-outline-info">Comment</button>
                </div>


            </form>
     </div>
    </article>
<article>
<div>
          <div class="bg-info">
              <h5>{{ post.comments }} Comments</h5>
          </div>
              {% for comment in comments.items %}


              <div class="comment-list">
                  <div class="desc">
                       <br>





                      <h3  class="comment">
                          <a class="mr-2" href="{{ url_for('users.user_post', username=comment.reply.username) }}">
                           <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.reply.image_file) }}">
                          </a>
                           <b> {{ comment.reply.username }} </b>
                     </h3>
                      <small  class="date">
                          {{ comment.pub_date.strftime('%d/%b/%y   :   %r') }}
                   </small>


                     <h6  class="article-content">
                         {{ comment.message }}
                     </h6>


                  </div>
              </div>


              {% endfor %}
        <br>
        <br>
         {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('posts.post', post_id=post.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.post', post_id=post.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}



        {% endif %}

      </div>
    </article>
 <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
