{% extends "nav_prof.html" %}
{% block content %}

{% if  posts.total  > 1 %}
<h3 class="nav-xy">{{ posts.total }} posts by You</h3>
{% else %}
<h3 class="nav-xy"> {{ posts.total }} post by You</h3>
{% endif %}



    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="" >{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%d/%b/%Y ') }}</small>
            </div>
            <p class="krax">{{ post.content }}</p>
<span class="secd glow-button">
              <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}"> {{ post.comments }} <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/comment.png') }}"></a>
</span>
          </div>
        </article>
    {% endfor %}
    {% if posts.has_prev %}<a class="btn btn-outline-info" href="{{ url_for('users.posts', page=posts.prev_num) }}">Latest</a>{% else %}{% endif %}
{% if posts.has_next %}<a class="btn btn-outline-info" href="{{ url_for('users.posts', page=posts.next_num) }}"> Older </a>{% else %} {% endif %}

{% endblock content %}