{% extends "grpName.html" %}
{% block content %}
    
       <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<style>
  

    
    .warmglow {
      position: relative;
      width: 70%;
      margin: 20px auto;
      max-width: 1000px;
      min-width: 400px;
      --font1: source-sans-pro, sans-serif;
      --font2: all-round-gothic, sans-serif;
      --font3: dico-mono-script, mono;
      --font4: dico-mono, mono;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
        "top top top"
        "within within within"
        "from from from";
      background:#f0f0f0;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #fff;
    }
    
    .wg-to {
      grid-area: top;
      position: relative;
      padding: 40px 50px;
      border-bottom: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    
    .wg-to-name {
      font-family: var(--font3);
      color: #000;
      font-size: 20px;
      text-align: left;
      line-height: 100%;
    }
    
    .wg-to-name i {
      font-size: 12px;
      font-family: var(--font2);
      text-transform: uppercase;
      margin-top: 5px;
      font-style: normal;
      letter-spacing: 1px;
    }
    
    .wg-within {
      background-color: #eee;
  background-image: linear-gradient(90deg, #c5edde 0%, #c5e1ed 100%);
      grid-area: within;
      margin: 30px;
      border-radius: 10px;
      border: 1px solid #fff;
      box-sizing: border-box;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    
    .wg-to-pic {
      height: 60px;
      width: 60px;
      margin: 10px 0;
      box-sizing: border-box;
      border-radius: 100%;
      border: 10px solid #fff;
      margin-right: 20px;
    }
    
    .wg-from {
      grid-area: from;
      position: relative;
      padding: 40px 50px;
      border-top: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      font-family: var(--font3);
      color: #000;
      font-size: 20px;
      line-height: 100%;
    }
    
    .wg-from i {
      font-size: 12px;
      font-family: var(--font2);
      text-transform: uppercase;
      margin-top: 5px;
      font-style: normal;
      letter-spacing: 1px;
    }
    
    .wg-from-pic {
      height: 60px;
      width: 60px;
      border: 10px solid #fff;
      box-sizing: border-box;
      border-radius: 100%;
      object-fit: cover;
      margin: 10px 0;
      margin-left: 20px;
    }
    
    .wg-within enter, .wg-within exit {
      position: relative;
      font-family: var(--font4);
      text-transform: uppercase;
      display: block;
      letter-spacing: 1px;
      font-size: 12px;
      margin: 5px 0;
      color: #333;
    }
    
    .wg-within enter b, .wg-within exit b {
      font-family: var(--font3);
      text-transform: lowercase;
    }
    
    .wg-within enter i {
      position: relative;
      top: 2px;
    }
    
    .wg-within received, .wg-within sent {
      display: block;
      margin: 10px 0;
      font-size: 14px;
      position: relative;
      font-family: var(--font1);
    }
    
    .wg-within main {
      background: #fff;
      display: block;
      padding: 15px;
      border-radius: 10px;
      margin-top: 5px;
    }
    
    .wg-within received {
      margin-left: 40px;
    }
    
    .wg-within sent {
      margin-right: 40px;
    }
    
    .wg-within received img {
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      border-radius: 100%;
      position: absolute;
      left: -40px;
      top: 0px;
      object-fit: cover;
    }
    
    .wg-within sent img {
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      border-radius: 100%;
      position: absolute;
      right: -40px;
      top: 0px;
      object-fit: cover;
    }
    
    .wg-within received b, .wg-within sent b {
      font-family: var(--font3);
      text-transform: lowercase;
      display: block;
      margin-bottom: 4px;
    }
    
    .wg-within sent {
      align-self: flex-end;
    }
    
    .wg-within sent b {
      text-align: right;
      margin-right: 5px;
    }
    
  </style>
</head>
<body>
    <div class="wg-within">
        <enter>
    <h1>Chat Room: {{ active_room.nickname }}</h1>
    
    <received>
    <main>
    <div id="message-history">
      <!-- Chat messages will be displayed here -->
    </div></main></received>
   
    </enter>
    </div>
    <div class="wg-from">
    <input type="text" id="message-input" placeholder="Type your message">
    </div>
    <button onclick="sendMessage()">Send</button>
    <button onclick="leaveRoom()">Leave Room</button>
    <script>
        const socket = io.connect( 'http://' + document.domain + ':' + location.port)
        socket.on('connect', () => {
            console.log("Socket is connected to the server.");
            });
        const currentUser = { name: "{{ current_user.username }}" };        

        // Request message history from the server when the page loads
        socket.emit("get_message_history", { room_id: "{{ room_id }}" });


        function displayMessage(sender, time, data) {
            const messageHistory = document.getElementById("message-history");
            const messageElement = document.createElement("p");
            messageElement.textContent = `${sender} (${time}): ${data}`;
            messageHistory.appendChild(messageElement);        
        
        }
        
        socket.emit("get_message_history", { room_id: "{{ room_id }}" });

        socket.on("message_history", data => {
            data.forEach(message => {
                displayMessage(message['username'], message['message'], message['date']);
            });
        });

        // Receive new messages from the server
        socket.on("New", data => {
           displayMessage(data.sender, data.time, data.data);
            console.log(data);
        });

        // Receive server messages (e.g., user left the room)
        socket.on("Left_user", data => {
            displayMessage("Server", "", data.message);
        });

        function sendMessage() {
            const message = document.getElementById("message-input").value;
            const name = currentUser.name;
            if (name && message) {
                socket.emit("group_message", { room_id: "{{ room_id }}", name, message });
                document.getElementById("message-input").value = "";
                console.log(message);
            }
        }

        function leaveRoom() {
            const name = currentUser.name;
            if (name) {
                socket.emit("leave_room", { room_id: "{{ room_id }}", name });
                window.location.href = "/chat"; // Redirect to the chat page after leaving the room
            }
        }
    </script>
    
</body>

{% endblock content %}
