{% extends "layout.html" %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div align="center"> <fieldset class="form-group">
                {{ form.livebox.label(class="btn btn-outline") }}
       {% if form.livebox.errors %}
                    {{ form.livebox(class="btn btn-outline-info") }}
                    <div class="invalid-feedback">
                        {% for error in form.livebox.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.livebox(class="btn btn-outline-info") }}
                {% endif %}
 {{ form.submit(class="btn btn-outline-info") }}
            </fieldset>
            </div>
        </form>
    <p id = "datalist"></p>
</body>
<!-- <script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();

            $.ajax({
                method:"post",
                url:"/search",
                data:{text:$("#livebox").val()},
                success:function(res){
                   console.log(res)
                    var data = "<ul>";
                    $.each(res,function(searchfile,value){
                        data += "<li>"+value.result+"</li>";
                    });
                    data += "</ul>";
                    $("#datalist").html(data);0
                }
            });
        });
    });
</script>
-->

{% if paxx in result %}


<a class="mr-2" href="{{ url_for('users.user_post', username=paxx) }}"><p align="center"> {{ paxx }}</a>
{% else %}
<p align="center">No Result Found</p>
{% endif %}

{% endblock %}