
<div class="content-section">
   <form method=GET enctype=multipart/form-data action="search">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">


            <div class="form-group">

                {% if form.q.errors %}
                    {{ form.q(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.q.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.q(class="daxx", rows="4", placeholder="search... ") }}
                {% endif %}


</div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>