{% extends "douxt.html" %}
{% block content %}


<div id="app" class="section">



<settings> </settings>

</div>
{% if current_user.is_authenticated%}
 <article class="media content-section">
          <a class="nav-item nav-link" href="/logout">
               <small>Logout</small> <img class="rounded-circle article-img" src="static/images/logout-outline.png">
                </a>
 </article>
{% else %}
<article class="media content-section">
          <a class="nav-item nav-link" href="/login">
      <i style="font-size:23px;" class="fa fa-sign-in"></i>          <small>Sign in</small>
                </a>
 </article>
 {% endif %}
{% if current_user.is_authenticated%}
 <article class="media content-section">
         <a class="nav-item nav-link" id="myModal" href="#">
             Report a problem
         </a>
 </article>
{% endif %}
   <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">


<script>


new jBox('Modal', {
  width: 500,
  height: 250,
  attach: '#myModal',
  title: 'Report Problem',
  content: '<form method=POST enctype=multipart/form-data action="">{{ form.hidden_tag() }}<fieldset class="form-group"> <div class="form-group" aria-live="polite" > {% if form.report_problem.errors %}{{ form.report_problem(class="daxx", placeholder="Report Problem", rows="5") }} <div class="invalid-feedback">{% for error in form.report_problem.errors %}<span>{{ error }}</span>{% endfor %}</div> {% else %} {{ form.report_problem(class="daxx", rows="3",type="name", placeholder="Report Problem", style='resize:none;') }}{% endif %}</div> </fieldset><div class="form-group">{{ form.submit(class="btn btn-outline-info", onclick="submit") }} </div>  </form>'

});


</script>




<script src="static/vue.js"></script>
<script src="static/main.js"></script>
{% endblock %}
