{% extends "base.html" %}
{% block content %}


 <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted"><i>{{ post.date_posted.strftime('%d/%b/%Y ') }}</i></small>
            </div>
            <h5><a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a></h5>
            <p class="article-content" >{{ post.content }}</p>
               <div>
               </div>

              <script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>
<!--<script>
document.write('http://' + document.domain + ':' + location.port + '/post/' + {{post_id}});

</script>
-->
          </div>


 </article>
<script>
console.log('http://' + document.domain + ':' + location.port + '/post/' + {{post_id}})

</script>
<form method=POST enctype=multipart/form-data action="">
     <fieldset class="form-group">


            <div class="form-group">


                {% if form.content.errors %}
                    {{ form.content(class="daxx", rows="3") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="daxx", rows="5", placeholder="Comment on Post!!") }}
                {% endif %}


</div>
        </fieldset>
 <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
</form>
 <form>
              <input type="search" id="myInput" class="btn btn-outline-info" value="http://127.0.0.1:5000/post/{{ post_id }}">

                  <button onclick="myFunction()" onmouseout="outFunc()" type="button" value="copy" class="btn btn-outline-info">copy link</button>

              </form>

{% endblock content %}