{% extends "douxt.html" %}
{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(static/images/Preloader_2.gif) center no-repeat #fff;
}
</style>

<body>
	<!-- Paste this code after body tag -->
	<div class="se-pre-con"></div>
	<!-- Ends -->


    <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div align="center"> <fieldset class="form-group">
                {{ form.content.label(class="btn btn-outline") }}
       {% if form.content.errors %}
                    {{ form.content(class="btn btn-outline-info") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="btn btn-outline-info") }}
                {% endif %}
 {{ form.submit(class="btn btn-outline-info") }}
            </fieldset>
            </div>
        </form>
    <p id = "datalist"></p>

    {%for topics in topic.items %}

       <article class="media content-section" >
            <div class="media-body">
                <a class="article-title" href="{{ url_for('groups.conversation', topics_id=topics.id, topics_name=topics.name) }}">    {{ topics.name }}</a> <strike><img  class="rou" style="float:right; cursor:pointer;"
                                                                                                                                                                 src="{{ url_for('static', filename= 'images/more(3).png' ) }}">
            </strike>

            </div>
       </article>


{% endfor %}

     <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">

<script>


new jBox('Modal', {
  width: 300,
  height: 250,
  attach: 'strike',
  title: '<p align="center" style="margin-bottom: 0rem;">Report this post!</p>',
  content: ''
});



</script>

{% endblock content %}