{% extends "bast.html" %}
{% block content %}





<form>
<input style="width: 100%; height: 50px;" class="form-control" type="search" placeholder="Search Topics..." id="livebox">
    </form>
 <span id="datalist" ></span>
<br>



<script src="{{ url_for('static', filename='ajax.js') }}"></script>
<script >
    $(document).ready(function(){
    $("#livebox").keyup(function(e){
                text= $("#livebox").val();

               $.ajax({
                method: "post",
                url: '/topics/search',
                data: {text: text},
                success: function(res){
    console.log(res);
                var data = "<ul>";
                $.each(res,function(index,value){
                if(value.name != -1 ){
                data += '<span> Search result for: "'+text+'" </span><a class="nav-link" href="topics/conversation/'+value.id+'/'+value.name+'"><li style="padding: 0;" class="nav-link"> <span class="article-title">'+value.name+'  </span>  </li></a>';
               }
                });
                data += "</ul>";
                $("#datalist").html(data);
            }
          });
          });
          });

</script>

<style>
    .jBox-Modal .jBox-container, .jBox-Modal.jBox-closeButton-box::before {
    background:
black;

color:
white;
    }
    .jBox-Modal .jBox-title {
    background:
black;
    }

    .sa:hover i{
    font-size: 22px;
    }

</style>
    {%for topics in topic.items %}

       <article class="media content-section" >
            <div class="media-body">
                <a class="article-title" href="{{ url_for('groups.conversation', topics_id=topics.id, topics_name=topics.name) }}">    <span style="text-transform: capitalize;">{{ topics.name[0] }}</span>{{ topics.name[1:] }}</a> <strike><img  class="rou" style="float:right; cursor:pointer;"
                                                                                                                                                                 src="{{ url_for('static', filename= 'images/more(3).png' ) }}">
            </strike>
                <a style="float:right;" class="article-title" title="My post on topic" href="{{ url_for('groups.my_conversation', topics_id=topics.id, topics_name=topics.name) }}"><span class="sa"><i style="height: 18px;" class="fa fa-plus-square-o"></i></span>

                            </a>
                 <a style="float:right;" class="article-title" title="Topic creator"  href="{{ url_for('users.user_post', username=topics.creator.username) }}"><span class="sa"><i style="height: 18px;" class="fa fa-info-circle"></i></span>

                            </a>
                <span style="float:right;" class="sa"><i style="height: 18px;" class="fa fa-share"></i></span>
            </div>

       </article>



{% endfor %}

     <script src= "{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src= "{{ url_for('static', filename='jbox.js') }}"></script>
<link href="{{ url_for('static', filename='jbox.all.min.css') }}" rel="stylesheet">


<script>


new jBox('Modal', {
  width: 300,
  height: 250,
  attach: 'strike',
  title: '<style>.jBox-Modal .jBox-title { background:black;}</style><p align="center" style="margin-bottom: 0rem;">More!</p>',
  content: "<a href=''><p style='color:red;'>Report topic as inappropriate</p></a>"
  });



</script>

{% endblock content %}