{% extends "douxt.html" %}
{% block content %}


<div class="nav-xy">
    <p align="center" ><b>Popular Posts</b></p>
</div>
 {% for sidex in side %}



 <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + sidex.vids.image_file) }}">
<div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_post', username=sidex.vids.username) }}"><span style="text-transform: capitalize;">v{{ sidex.vids.username[0] }}</span>{{ sidex.vids.username[1:] }}</a>
                <small class="text-muted"><i>{{ sidex.date_posted.strftime('%d/%b/%Y ') }}</i></small>
            </div>

  <video  >
	 <source src="{{ url_for('static', filename= 'post_pics/' + sidex.img_filename) }}" type="video/mp4">
 </video>

    <span class="">
     <a class="article-title" href="{{ url_for('posts.vid_post', videos_id=sidex.id) }}"> {{ sidex.comments }}  <i style="font-size:23px;" class="fa fa-comment-o"></i>   </a>
</span>
</div>


 </article>
     {% endfor %}
{% endblock content %}
