{% extends "douxt.html" %}
{% block content %}

   <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + videos.vids.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_post', username=videos.vids.username) }}"><span style="text-transform: capitalize;">{{ videos.vids.username[0] }}</span>{{ videos.vids.username[1:] }}</a>

<small class="text-muted">{{ videos.date_posted.strftime('%d/%b/%Y ') }}
           {% if videos.vids == current_user %}
                      {% else %}
<span class="secd glow-button" style="float: right;">

            <img class="rou" id="myModal" title="More" aria-label="More" src="{{ url_for('static', filename= 'images/more.png') }}"  style="float: right; cursor: pointer;" />
</span>
    {%endif%}
           <span class="secd glow-button" style="float: right;">
          <img class="rou" id="mode" title="Share" aria-label="Share" src="{{ url_for('static', filename= 'images/share.png') }}"  style="float: right; cursor: pointer; margin-right: 4px;" />
           </span>
           <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">



<script>


new jBox('Modal', {
  width: 300,
  height: 250,
  attach: '#myModal',
  title: '<p align="center" style="margin-bottom: 0rem;">Report this post!</p>',
  content: '<a class="nav-item nav-link" style="color:#aa0909;" href="{{ url_for('posts.report',  post_id=videos.id) }}">Report post</a><a class="nav-item nav-link" href="">Cancel</a>'


});



</script>


       </small>

<script>


new jBox('Modal', {
  width: 500,
  height: 150,
  attach: '#mode',
  title: '<p align="center" style="margin-bottom: 0rem;">Share post!</p>',
  content: '<form><input type="search" id="myInput" class="btn btn-outline-info" value="http://127.0.0.1:5000/post/videos/{{ videos.id }}"> <button onclick="myFunction()" onmouseout="outFunc()" type="button" value="copy" class="btn btn-outline-info">copy link</button></form>'

});



</script>
          <script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>

        {% if videos.vids == current_user %}
          <div>
                   <button class="secd glow-button" type="button" style="outline: none; width:33px;" data-toggle="modal" data-target="#deleteModal"><img class="rou" style="position: relative;
    left: -5px;

}" src="{{ url_for('static', filename= 'images/delete.png') }}"></button>

          </div>
          {% endif %}

<!--


-->


          <div id="frame"></div>


              <div id="main">
                  <div id="videoPanel">
                      <img class="rou vide" style="width:60px; height:60px;" src= "{{ url_for('static', filename='images/play-button.png') }}" onclick="playOrPause()" id="playBtn"/>

<video id="myVideo" autoplay >
	 <source src="{{ url_for('static', filename= 'post_pics/' + videos.img_filename) }}" type="video/mp4">



 </video>


</div>

                  <div id="controls" style="display:none;">

                      <div id="seek-bar" style="display:none;">
                          <div id="fill"></div>


                      </div>
                      <table border="0">
                          <tr>
                              <td width="55%">
                                  <div id="currentTime">00.00 / 00.00</div>

                              </td>
                              <td width="36%">

                              </td>
                              <td>
                                  <img class="rou" src= "{{ url_for('static', filename='images/pin.png') }}" id="speaker"/>
                              </td>
                              <td>
                                  <input type="range" id="volume" min="0" max="1" value="0.40" step="0.20"
                                  onchange="changeVolume()"/>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
   <script src= "{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>

          {% if current_user.is_authenticated %}

     </div>
    </div>

    </article>
<div class="content-section" style="width: 100%;

position: relative;">
   <form method=POST enctype=multipart/form-data action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" >


            <div class="form-group" aria-live="polite" >

                {% if form.message.errors %}
                    {{ form.message(class="daxx", placeholder="What's Up?", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="daxx", rows="3", placeholder="Comment....", title="Comment!", style='resize:none;') }}
                {% endif %}


</div>
              </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", onclick="submit") }}
        </div>
    </form>
</div>


 <div class="midder">
              <h5>{{ videos.comments }}{%if videos.comments > 1%}
                  Comments
                   {%else%}
                  Comment
                  {%endif%}
              </h5>
          </div>



    {%if comments.items%}
              {% for comment in comments.items %}



              <div class="comment-list">

                  <div class="desc">

          <br>
                      {% if comment.repli == current_user %}
                      {% else %}
                       <img title="More" aria-label="More" class="rounded-circle article-img" src="{{ url_for('static', filename= 'images/more.png') }}"  style="float: right; cursor: pointer;" />
                        {% endif%}
                      <h5  class="comment">
                          <a class="mr-2" href="{{ url_for('users.user_post', username=comment.repli.username) }}">
                           <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.repli.image_file) }}">
                          </a>
                          <b> <span style="text-transform: capitalize;">{{ comment.repli.username[0] }}</span>{{ comment.repli.username[1:] }} </b>
                     </h5>
                      <small  class="date" style="font-weight: 450;">
                          {{ comment.pub_date.strftime('%d/%b/%Y ') }}
                   </small>


                     <h6  class="comment" style="font-weight:380;">
                         {{ comment.message }}
                     </h6>
{% if comment.repli == current_user %}

               <form title="Delete" aria-label="Delete" action="{{ url_for('posts.delete_videos_comment', videos_id=videos.id, comment_id=comment.id) }}" method="POST">
<span class="secd glow-button">
                    <button type="submit"  value="Delete" style="display: contents; cursor: pointer;"><img class="rou" src="{{ url_for('static', filename= 'images/delete.png') }}"></button>
</span>
                </form>

{% endif %}



           </div>
              </div>


              {% endfor %}
    {%else%}
    <br>
    <br>
    <h3 align="center" style="opacity:0.3">  Be the first to comment </h3>
    {%endif%}

        <br>
        <br>
         {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if videos.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('posts.vid_post', videos_id=videos.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.vid_post', videos_id=videos.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}



        {% endif %}

 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #fff;">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer" style="background: #fff;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_videos', videos_id=videos.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}
