{% extends "viddo.html" %}
{% block content %}
 {% for post in posts.items %}


        <article class="media content-section" >
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + post.vids.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_post', username=post.vids.username) }}"><span><span style="text-transform: capitalize;">{{ post.vids.username[0] }}</span>{{ post.vids.username[1:] }}</span></a>
             <small class="text-muted"><i>{{ post.date_posted.strftime('%d/%b/%Y ') }}</i></small>

            </div>
 <video  >
	 <source src="{{ url_for('static', filename= 'post_pics/' + post.img_filename) }}" type="video/mp4">
 </video>

            <span class="">
              <a class="article-title" href="{{ url_for('posts.vid_post', videos_id=post.id) }}" title="Comments" aria-label="Comments"> {{ post.comments }}  <i style="font-size:23px;" class="fa fa-comment-o"></i>   </a>
</span>
          </div>
        </article>

{%endfor%}

{% endblock content %}
